@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --light-blue: #eff7ff;
    --blue: #d1e7fd;
    --dark-blue: #6fb7fe;
}

body {
    background-color: var(--light-blue);
    font-family: 'Montserrat', sans-serif;
}

.bg-blue {
    background-color: var(--blue) !important;
}